.manage-order-container {
    padding: 20px;
    background: linear-gradient(to right, #f8f9fa, #e9ecef);
    min-height: 100vh;
    border-radius: 10px;
  }
  
  .manage-order-table {
    border-radius: 10px;
    overflow: hidden;
  }
  
  .manage-order-status-select {
    width: 100%;
    text-align: center;
  }
  button {
    text-transform: none !important;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px !important;
    transition: all 0.3s ease-in-out;
  }
  .MuiSelect-root {
    background-color: #fff;
    border-radius: 8px;
  }
  .status-select {
    width: 100%;
    text-align: center;
  }
  
  .status-select .MuiSelect-root {
    background: white;
    border-radius: 5px;
    padding: 5px;
  }
    